<footer class="bg-gray-800 text-white py-6 mt-2">
  <div class="max-w-5xl mx-auto text-center text-sm">
    <p>©<span id="year"> </span> Website is managed by Troop 309 of the Greater New York Councils <br>
        BSA® is a registered trademark of the Scouting of America "<strong>Prepared. For Life</strong>"™</p>
      
    <a  href="https://stmarkschurchbrooklyn.org/" class="flex items-center justify-center mt-3 inline-flex"> 
        <img title="St Marks" alt="stmarks" class="justify-right" width="45px"
          src="/assets/stmarks.svg" /> 
          <!-- <a href="https://stmarkschurchbrooklyn.org/"> -->
        <div id="church" class=" flex flex-col text-left logo-text"> 
          <p class=" text-xs font-semibold">Chartering Organization </p>
          <p class=" text-sm font-semibold">St Marks Brooklyn Church</p>
        </div>
      </a>
    </div>

</footer>

