<!-- Default metadata -->
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<!-- ADD icon -->
    <link rel="icon" type="image/svg+xml" id="icon" href="/assets/BSA_logo.svg">
<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">
<!-- Default OpenGraph --> 
    <meta property="og:site_name" content="Troop 309"> 
    <meta property="og:type" content="website">
<!-- Tailwind -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
<!-- CSS StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" /> 
<!-- Default scripts --> 

    <!-- <script defer src="/js/loadComponents.js"></script> -->
